body {
    background-color:lightgray;
}

strong {
    font-size: 2rem;
    color:rgb(165, 179, 201);    
}

main h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container-main {
    width: 90%;
    padding: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 10px;
    background-color:whitesmoke;
}

.container-main h1 {
    padding-bottom: 0.5em;
}

#main-image{
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;

}

.row-1 {
    margin-top: 2em;
}

footer {
    color: white;
    text-align: center;
    margin-bottom: 0;
}
